<%- include('../partials/header') %>
<h1>New Gram Page</h1>
<% if (locals.errors) { %> 
  <% for (let error of errors) { %> 
    <h4 style="color: red;"><%= error %></h2>
  <% } %>
<% } %>
<form action="/grams" method="POST">
  <div>
    <label for="srcUrl">Image Url</label>
    <input type="text" name="srcUrl">
  </div>
  <div>
    <label for="description">Description</label>
    <textarea type="text" name="description"></textarea>
  </div>
  <div>
    <label for="price">Price</label>
    <input type="number" name="price">
  </div>
  <input type="submit" value="create gram">
</form>
<%- include('../partials/footer') %>
